@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


$primary-color: #39CDCC;
$secondary-color: #213F7D;
$background-color: #f4f6f8;
$text-color: #545F7D;


$font-family: 'Work Sans', sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;